<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.11/dist/sweetalert2.min.css">
        
    </head>
    <body>
        <header>
            <%- include('_header') %>
        </header>

        <%- body %>

        <footer>
            <%- include('_footer') %>
        </footer>

        
    </body>
</html>